h2 {
    color: #ff4900;
    font-size: 2rem;
}

.prim_p {
    font-size: 1rem;
    color: #0093FF;
    font-family: Arial;
}

.seg_p {
    font-size: 12px;
    color: #c500ff;
    font-family: Nerko One;
}

a {
    color: #001bff;
    font-style: bold;
    text-decoration: none;
}

a:visited {
    color: #4CAF50;
}

a:hover {
color: #ff6600;
text-decoration: underline
}