
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Nerko+One&display=swap" rel="stylesheet">
  <title>Mi primera Pagina</title>
</head>
<body>
  <h2>Pagina Uno</h2>
  <p class="prim_p">Lorem ipsum dolor sit amet consectetur adipisicing elit.
    Rem nam debitis fuga enim cumque deleniti eveniet eos mollitia cum reiciendis,
    aut ad illum. Aliquid ipsa doloremque architecto iste sapiente velit!</p>
  <br>
  <p class="seg_p">Lorem ipsum dolor sit amet consectetur adipisicing elit.
    Rem nam debitis fuga enim cumque deleniti eveniet eos mollitia cum reiciendis,
    aut ad illum. Aliquid ipsa doloremque architecto iste sapiente velit!</p>
  <ul>
    <li><a href="https://www.youtube.com/">Youtube</a></li>
    <li> <a href="https://www.wikipedia.org/">Wikipedia</a></li>
    <li><a href="https://x.com/">Twitter</a></li>
  </ul>

  <table>
    <tr>
      <th>Productos</th>
      <th>Existencias</th>
      <th>Valor</th>
    </tr>
    <tr>
      <td>Iphone</td>
      <td>Mouse</td>
      <td>PC Gamer</td>
    </tr>
    <tr class="fila_media">
      <td>10</td>
      <td>100</td>
      <td>2</td>
    </tr>
    <tr>
      <td>$ 2.000.000</td>
      <td>$ 50.000</td>
      <td>$ 3.000.000</td>
    </tr>
  </table>

  <br>

  <!-- Parte 2 -->

  <div class="header">
    <div class="box left">Logo</div>
    <h1>Header</h1>
    <div class="box right">Buscador</div>
  </div>

  <div class="container">
      <div class="sidebar">
          <h2>Side-bar</h2>
      </div>
      
      <div class="main-content">
          <h2>Contenido</h2>
      </div>
  </div>

  <div class="footer">
      <h3>Footer</h3>
      <div class="box">Footer 1</div>
      <div class="box">Footer 2</div>
      <div class="box">Footer 3</div>
  </div>



</body>
</html>


<router-outlet />