<div class="p-fluid">
    <form [formGroup]="userFields">
        <div class="p-fluid">
            <label for="nameManager">Nombre del Gerente</label>
            <div class="p-fluid">
                <p-iconField iconPosition="left">
                    <p-inputIcon styleClass="pi pi-user-plus" />
                    <input id="nameManager" type="text" pInputText formControlName="nameManager">
                </p-iconField>
                <div *ngIf="userFields.controls['nameManager'].invalid && userFields.controls['nameManager'].touched" class="error">
                    el nombre no es valido
                </div>
            </div>
        </div>

        <div class="p-fluid">
            <label for="emailManager">Correo electronico del Gerente</label>
            <div class="p-fluid">
                <p-iconField iconPosition="left">
                    <p-inputIcon styleClass="pi pi-envelope" />
                    <input id="emailManager" type="email" pInputText formControlName="emailManager">
                </p-iconField>
                <div *ngIf="userFields.controls['emailManager'].invalid && userFields.controls['emailManager'].touched" class="error">
                    el email no es valido
                </div>
            </div>
        </div>
    </form>
</div>